*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;

}
body{
    background-color: #E5E7DF;
    font-family: Helvetica;
  
}
header{
    width: 100%;
    position: fixed;
}

nav{

    display: flex;
    justify-content: space-between;
    margin: 25px 30px;
    font-size: 26PX;
    font-weight: 500;
    
}
nav >ul{
    display: flex;
    align-items: center;
    gap: 15%;
    list-style: none;

}
nav > ul a {
   list-style: none;
   text-decoration: none;
   color: black;
   font-size: 30px;
   font-weight: 600;
}
main{
    width: 100%;
}

.page1{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.page1 > .content{
    width: 100%;
    display: flex;
    margin: 0 30px;
}
.content > .left{
    width: 40%;
}

.content > .left p{
    width: 50%;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #1E1E1E;
}
.content > .left button{
    width: 30%;
    font-size: 28px;
    padding-bottom: 10px;
    border: none;
    background-color: transparent;
    color: #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    display: flex;
    justify-content: space-between;
   
 
}
.content .right{
    width: 60%;
}

.content .right h1{
    font-size: 59px;
    color: #1E1E1E;

}

.page1 .slider{
    width: 100%;
    /* overflow-x: hidden; */
    white-space: nowrap;
}

.page1  .slider-inside{
    display: inline-block;
   
    animation: slider 15s  infinite linear;
}
.page1 .slider-inside span{
    color: #1E1E1E;
    font-size: 500px;
    font-weight: 700;
}

.page1 .slider-inside img{
    height: 320px;
}

@keyframes slider {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
    
}

.page2{

    width: 100%;
    overflow-x:hidden ;
}
.page2 h1{
    width: 60%;
    margin: 0 30px;
    margin-bottom: 45px;
    font-size: 56px;
    font-weight: 500;
}
.page hr{
    border: none;
    margin-bottom: 5%;
    height: 1px;
    background-color: rgb(220, 220, 220);
}

.page3{
    width: 100%;
    

}
.page3-content{
    display: flex;
    margin: 0 30px;
    margin-top: 50px;
}
.page3 .left-content{
    width: 50%;
}

.page3 .center-content{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.page3 .right-content{
    width: 20%;

}
.page3  .center-content p{
    margin-bottom: 60px;

}
.page3 .center-content h1{
    margin-bottom: 15px;
}
.page3 .center-content p{
    color: #949690;
    font-size: 26px;

}
.page3 .right-content{
    text-align: end;
}